Package: enigma2-plugin-skins-glamouraurafhd-atv
Version: B.25
Section: skins
Priority: optional
Architecture: all
License: GNU GENERAL PUBLIC LICENSE Version 3, 29 June 2007
OE: OpenATV
Maintainer: MCelliotG 
Description: Glamour Aura FHD skin for new generation STBs with OpenATV based images
Source: https://github.com/MCelliotG/GlamourAuraFHD-ATV-skin
Homepage: https://github.com/MCelliotG/GlamourAuraFHD-ATV-skin
